body {
	background: #ffffff;
	width: 80%;
	margin: auto;
	padding: 30px;
}

p , ol, li, table, td, th {
	font-size: 1em;
	font-family: Georgia,serif;
	line-height: 1.5em;
	color: #4e4e4e;
	text-align: justify
}

h1 {
	color: #000c6a;
    font-family: Georgia,serif;
    text-align: center;
  }

h2, h3, h4, h5, h6 {
	font-family: Georgia,serif;
	color: #000c6a;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }

/* borrowed from the internet */
  .image-wrapper {
    flex: 1; 
    padding: 0 10px; 
    box-sizing: border-box; 
    text-align: center; 
  }
  
  .image-wrapper img {
    max-width: 100%;
    height: auto; 
  }


  ol {
    list-style-type: upper-roman; 
    padding-left: 20px; 
    font-family: Arial, sans-serif;
    color: #333; 
}

ol ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 10px;
}

ol li {
  font-size: 1.2em;
  color:  #000c6a;
}

ol ul li {
    font-size: 0.9em; 
    color: #555;
    font-style: italic;
}
