body {
	background: #ffffff;
	width: 80%;
	margin: auto;
	padding: 30px;
}

p , ul, ol, li, table, td, th {
	font-size: 1em;
	font-family: Georgia,serif;
	line-height: 1.5em;
	color: #4e4e4e;
	text-align: justify
}

h1 {
	color: #000c6a;
    font-family: Georgia,serif;
    text-align: center;
  }

h2, h3, h4, h5, h6 {
	font-family: Georgia,serif;
	color: #000c6a;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .image-wrapper {
    flex: 1; /* This allows each image to grow and take up equal space */
    padding: 0 10px; /* This adds spacing between images */
    box-sizing: border-box; /* This ensures padding is included in the width */
    text-align: center; /* This centers the images within the wrapper if they have different widths */
  }
  
  .image-wrapper img {
    max-width: 100%; /* This makes the image responsive and not larger than its container */
    height: auto; /* This maintains the aspect ratio of the image */
  }